.AppBar__header {
  position: relative;
  border-bottom: 1px solid #2a363b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppBar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppBar__Logo-slideIn-appear {
  transform: translateX(-100%);
}

.AppBar__Logo-slideIn-appear-active {
  transform: translateX(0);
  transition: transform 500ms linear;
}
