.AppBar__header {
  position: relative;
  border-bottom: 1px solid #2a363b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppBar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppBar__Logo-slideIn-appear {
  transform: translateX(-100%);
  opacity: 0;
}

.AppBar__Logo-slideIn-appear-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 600ms linear;
}
