@import 'styles/variables';
@import 'styles/mixins';
.Registerform {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  @include for-size(tablet) {
    width: 400px;
  }
}

.Registerform_label {
  display: flex;
  flex-direction: column;

  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000;
}

.Registerform_label:not(:last-child) {
  margin-bottom: 15px;
}

.Registerform_label-name {
  color: $name-color;
}
.Registerform_label-email {
  color: $email-color;
}

.Registerform_label-password {
  color: $password-color;
}
.Registerform_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 10px 55px 10px 56px;
  background-color: $accent-blue;
  color: #fff;
  border: 1px solid$accent-blue;
  border-radius: 4px;
  cursor: pointer;
}

.Registerform_button--disabled {
  border-color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  cursor: initial;
}

.Registerform__input {
  width: 100%;
  margin-top: 10px;
  padding: 11px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.Registerform__input--disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.Registerform__input:focus {
  border-color: $focus-blue;
}

.Registerform__input:not(:placeholder-shown):valid {
  border: 1px solid green;
}

.Registerform__input:not(:placeholder-shown):invalid {
  border: 1px solid red;
}
