@import 'styles/mixins';
.MobileMenu {
  display: block;
  @include for-size(tablet) {
    display: none;
  }
}

.MobileMenu__icon {
  width: 40px;
  height: 40px;
}

.MobileMenu__content {
  font-size: 20px;
  width: 100%;
  @include for-size(mobile-only) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0 auto;

    padding: 30px 0;
    background-color: #fff;
    z-index: 9999;
    &.is-open {
      display: block;
    }
  }
  @include for-size(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
