@import 'styles/mixins';
.container {
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 15px;
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}
