@import 'styles/mixins';
.container {
  width: 320px;
  margin: 0 auto;
  padding: 30px 10px;
  @include for-size(tablet) {
    width: 920px;
  }
  @include for-size(desktop) {
    width: 1220px;
  }
}
