$accent-blue: #001871;
$blue: #1e93f3;
$white: #fff;
$dark-green: #102e37;
$name-color: #5c2532;
$number-color: #547980;
$email-color: #547980;
$password-color: #705480;
$focus-blue: #2196f3;
$hover-color: #f38957;
