@import 'styles/mixins';
.Filter {
  text-align: center;
  padding: 30px 0;
}

.Filter__label {
  color: rgba(33, 33, 33, 0.7);
}

.Filter__input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  @include for-size(mobile-only) {
    margin-top: 10px;
  }

  @include for-size(mobile-tablet) {
    margin-left: 20px;
    width: 250px;
  }
  @include for-size(tablet) {
    width: 300px;
  }
  @include for-size(tablet) {
    margin-left: 20px;
  }
}

.Filter__input:focus {
  border-color: #2196f3;
}
