@import 'styles/variables';
@import 'styles/mixins';

.Navigation {
}

.Navigation__list {
  text-align: center;
  @include for-size(tablet) {
    display: flex;
    align-items: center;
  }

  @include for-size(mobile-only) {
    margin-bottom: 10px;
  }
}

.Navigation__list-item {
  font-weight: 500;
  font-size: 18px;
}

.Navigation__list-item:not(:last-child) {
  @include for-size(tablet) {
    margin-right: 10px;
  }
  @include for-size(mobile-only) {
    margin-bottom: 10px;
  }
}

.Navigation__link {
  display: inline-block;
  padding: 5px;
  background-color: $blue;
  border: 1px solid $blue;
  color: $white;
  border-radius: 4px;
}

.Navigation__link--active {
  background-color: $accent-blue;
  border: 1px solid $accent-blue;
}

.Navigation__link:hover {
  background-color: $hover-color;
  border: 1px solid $hover-color;
}
