@import 'styles/variables';
@import 'styles/mixins';

.Navigation__list {
  text-align: center;
  @include for-size(tablet) {
    display: flex;
    align-items: center;
  }

  @include for-size(mobile-only) {
    margin-bottom: 10px;
  }
}

.Navigation__list-item {
  font-weight: 500;
  font-size: 18px;
}

.Navigation__list-item:not(:last-child) {
  @include for-size(tablet) {
    margin-right: 10px;
  }
  @include for-size(mobile-only) {
    margin-bottom: 10px;
  }
}
