.Contact__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Contact__item:hover {
  border: 1px solid #3f51b5;
  background-color: rgba(0, 0, 0, 0.12);
}
.Contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.Contact_text {
  margin-right: 10px;
}

.Contact__name {
  color: #5c2532;
}

.Contact__number {
  color: #547980;
}

.Contact__button {
  padding: 6px 25px;
  background-color: #3f51b5;
  color: #fff;
  border: 1px solid#3f51b5;
  border-radius: 4px;
  cursor: pointer;
}
