@import 'styles/variables';
@import 'styles/mixins';
.Contact__item {
  display: block;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  @include for-size(mobile-only) {
    text-align: center;
  }
  @include for-size(mobile-tablet) {
    text-align: unset;
  }
  @include for-size(mobile) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

.Contact__item:hover {
  border: 1px solid #3f51b5;
  background-color: rgba(0, 0, 0, 0.12);
}
.Contact__item:not(:last-child) {
  margin-bottom: 10px;
}

.Contact_text {
  @include for-size(tablet) {
    margin-right: 10px;
  }
}

.Contact__name {
  @include for-size(mobile-only) {
    display: block;
    margin-bottom: 10px;
  }
  @include for-size(mobile-tablet) {
    margin-bottom: 0;
  }
  color: $name-color;
}

.Contact__number {
  @include for-size(mobile-only) {
    display: block;
    margin-bottom: 10px;
  }
  @include for-size(mobile-tablet) {
    margin-bottom: 0;
  }
  color: $number-color;
}

.Contact__button {
  display: block;
  padding: 4px 18px;
  background-color: $accent-blue;
  color: #fff;
  border: 1px solid$accent-blue;
  border-radius: 4px;
  cursor: pointer;
  @include for-size(mobile-only) {
    margin: 0 auto;
  }
  @include for-size(mobile-tablet) {
    margin: 0;
  }
  @include for-size(tablet) {
    padding: 5px 20px;
  }
  @include for-size(desktop) {
    padding: 6px 25px;
  }
}

.Contact__button:hover,
.Contact__button:focus {
  background-color: $delete;
  border-color: $delete;
}
