@import 'styles/mixins';

.ContactList {
  @include for-size(tablet) {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
  }
}
